.product-card {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    margin: 0 -20px;
    background-color: $border-color-product;
  }

  @media ($tablet) {
    width: 45.905%;
    flex-flow: column nowrap;
    padding-bottom: 40px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-image: linear-gradient(transparent 82px, $bg-color-product-card 82px, $bg-color-product-card 100%);
    }

    &::before {
      content: none;
    }
  }

  @media ($desktop) {
    width: 245px;
  }
}

.product-card__image-wrapper {
  width: 50%;

  @media ($tablet) {
    width: 100%;
    height: 208px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
  }
}

.product-card__image {
  display: block;
  margin: 0 auto;
}

.product-card__info {
  width: 50%;
  padding: 18px 0;

  @media ($tablet) {
    padding: 35px 37px 33px;
    width: 100%;
  }
}

.product-card__title {
  font-family: font-family(oswald);
  font-weight: font-weight(regular);
  font-size: font-size(link-m);
  line-height: $line-height-m;
  text-transform: uppercase;
  color: $font-color-link;
  margin: 0;
  margin-bottom: 15px;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
    transition: none;
  }

  br {
    &:last-of-type {
      display: none;
    }
  }

  @media ($tablet) {
    font-size: font-size(link-t);
    margin-bottom: 20px;
    text-align: center;

    br {
      &:first-of-type {
        display: none;
      }

      &:last-of-type {
        display: block;
      }
    }
  }
}

.product-card__specs {
  width: 100%;
  border-collapse: collapse;
  font-size: font-size(light-m);
  line-height: font-lh(light-m);

  @media ($tablet) {
    font-size: $font-size-s;
    line-height: $font-size-l;
  }
}

.product-card__specs-row {
  td {
    width: 50%;

    &:last-of-type {
      text-align: right;
    }
  }

  @media ($tablet) {
    border-bottom: 1px solid $border-color-product--row;
  }
}

.product-card__order {
  width: 100%;

  @media ($tablet) {
    padding: 0 37px;
  }
}

.product-card__order--btn {
  width: 100%;
  font-size: font-size(link-m);

  @media ($tablet) {
    padding: 11px 0 9px;
  }

  @media ($desktop) {
    min-width: 0;
  }
}
