// Base Styles
/* stylelint-disable */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: font-family(arial);
  font-size: font-size(base-m);
  font-style: normal;
  line-height: line-height(base-m);
  background-color: $white;
  color: $font-color-base;

  @media ($tablet) {
    font-size: font-size(base-t);
    line-height: line-height(base-t);
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* stylelint-enable */
