.section-header {
  margin: 0;
  padding: 0;
  max-width: $desktop-width;

  @media ($tablet) {
    margin-top: 25px;
  }
}

.section-header__title {
  margin: 0;
  font-family: font-family(oswald);
  font-weight: font-weight(regular);
  font-size: font-size(section-title-m);
  line-height: font-lh(section-title-m);
  color: $font-color-heading;

  @media ($tablet) {
    font-size: font-size(section-title-t);
    line-height: font-lh(section-title-t);
  }
}
